# Hey! Nice to see you. 👋

Welcome to my page! I'm Taniq, a developer currently building awesome things.

### 💻 Things I code with
<!-- You can add/remove badges here using standard devicons or shields.io -->
<p>
  <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" />
  <img src="https://img.shields.io/badge/React-20232A?style=for-the-badge&logo=react&logoColor=61DAFB" />
  <img src="https://img.shields.io/badge/Node.js-43853D?style=for-the-badge&logo=node.js&logoColor=white" />
</p>

### 📈 Open source projects
| 🎁 Projects | ⭐ Stars | 📚 Forks | 🛎 Issues |
| --- | --- | --- | --- |
| [Your Project Name](https://github.com/taniq-codes/project-link) | ![Stars](https://img.shields.io/github/stars/taniq-codes/project-link?style=flat-square) | ![Forks](https://img.shields.io/github/forks/taniq-codes/project-link?style=flat-square) | ![Issues](https://img.shields.io/github/issues/taniq-codes/project-link?style=flat-square) |

### 🌤 Current Weather in My City
Currently, the weather is: **{{weather}}**, **{{temperature}}**°C
Today, the sun rises at **{{sun_rise}}** and sets at **{{sun_set}}**.

---
*This README file is generated dynamically!*
*Last refresh: {{date}}*